.WorkArea{
    box-sizing: border-box;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
}

.Tab{
    margin-left: 0px;
    text-align: center;
}

.LeftTab{
    width: 95px;
}

.Leftp{
    color: var(--hoverColor);
    border-color: var(--hoverColor);
    border-width: 1px;
    border-style: solid;
    padding: 12px 22px;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    margin: 0;
    float: left;
    width: 100%;
}

.Content{
    position: relative;
    margin-top: 30px;
    margin-left: 0px;
}

.ContentImage{
    display: inline-block;
    width: 40%;
    height: 600px;
    overflow: hidden;
}

.ContentSmallImage{
    display: inline-block;
    width: 40%;
    height: 340px;
    overflow: hidden;
}

.ContentImage h3{
    position: absolute;
    bottom: 0;
    width: 40%;
    font-weight: lighter;
    color: rgb(233, 233, 233);
    text-align: center
}


.ContentText{
    display: inline-block;
    position: absolute;
    width: 60%;
    padding-left: 20px;
    top: 0;
}

.ContentOneImage{
    position: relative;
    width: 100%;
}

.ContentImage1{
    position: fixed;
    height: 400px;
    width: 190px;
}


.ContentImage2{
    position: fixed;
    height: 400px;
    width: 190px;
    left: 70px;
    margin-top: 50px;
}

.ContentImage3{
    position: fixed;
    height: 400px;
    width: 190px;
    left: 140px;
    margin-top: 100px;
}

.ContentImage4{
    position: fixed;
    height: 400px;
    width: 190px;
    left: 220px;
    margin-top: 150px;
}

.ContentImage1:hover{
    z-index: 999;
}

.ContentImage2:hover{
    z-index: 999;
}

.ContentImage3:hover{
    z-index: 999;
}

.ContentImage4:hover{
    z-index: 999;
}

.ContentText1 {
    font-size: 14px;
    display: none;
}

.ContentText2 {
    font-size: 14px;
    display: none;
}

.ContentText3 {
    font-size: 14px;
    display: none;
}

.ContentText4 {
    font-size: 14px;
    display: none;
}

.ContentTextInfo{
    position: absolute;
    bottom: 0;
    width: 40%;
    text-align: center;
    color: grey;
}

.ContentImage1:hover ~ .ContentText1 {
    display: inline;
}

.ContentImage2:hover ~ .ContentText2 {
    display: inline;
}

.ContentImage3:hover ~ .ContentText3 {
    display: inline;
}

.ContentImage4:hover ~ .ContentText4 {
    display: inline;
}

.ContentImage1:hover ~ .ContentTextInfo {
    display: none;
}

.ContentImage2:hover ~ .ContentTextInfo {
    display: none;
}

.ContentImage3:hover ~ .ContentTextInfo {
    display: none;
}

.ContentImage4:hover ~ .ContentTextInfo {
    display: none;
}


.appstore{
    margin-right: 20px;
}

.ContentText li{
    padding-bottom: 8px;
}

.morediv{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

@media only screen and (max-width: 1230px) {
    .ContentImage{
        display: inline-block;
        width: 45%;
        height: 600px;
        overflow: hidden;
    }
    
    .ContentText{
        display: inline-block;
        position: absolute;
        width: 55%;
        padding-left: 20px;
        top: 0;
    }

    .ContentSmallImage{
        height: 400px;
    }
}

@media only screen and (max-width: 1100px) {
    .ContentImage{
        width: 50%;
    }
    
    .ContentText{
        width: 50%;
    }

    .ContentSmallImage{
        height: 400px;
    }
}

@media only screen and (max-width: 980px) {
    .ContentImage{
        width: 40%;
    }
    
    .ContentText{
        width: 60%;
    }
    
    .ContentImage2{
        left: 50px;
    }
    
    .ContentImage3{
        left: 110px;
    }
    
    .ContentImage4{
        left: 190px;
    }
}

@media only screen and (max-width: 960px) {
    
    .ContentImage2{
        left: 30px;
    }
    
    .ContentImage3{
        left: 70px;
    }
    
    .ContentImage4{
        left: 110px;
    }
}

@media only screen and (max-width: 860px) {

    .ContentTextInfo{
        width: 100%;
    }
    
    .ContentImage{
        position: relative;
        display: block;
        width: 100%;
        height: 460px;
    }

    .ContentImage h3{
        width: 100%;
        font-size: 18px;
    }
    
    .ContentText{
        position: relative;
        display: block;
        width: 100%;
    }

    .ContentImage2{
        margin-top: 0;
        left: 20%;
    }

    .ContentImage3{
        margin-top: 0;
        left: 45%;
    }

    .ContentImage4{
        margin-top: 0;
        left: 70%;
    }

    .ContentText1 {
        width: 100%;
    }
    
    .ContentText2 {
        width: 100%;
    }
    
    .ContentText3 {
        width: 100%;
    }
    
    .ContentText4 {
        width: 100%;
    }

    .ContentSmallImage{
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .WorkArea{
        width: 90%;
    }

    .ContentImage2{
        left: 20%;
    }

    .ContentImage3{
        left: 40%;
    }

    .ContentImage4{
        left: 55%;
    }

    .ContentText{
        padding-left: 0;
    }
}

@media only screen and (max-width: 444px) {

    .ContentImage2{
        left: 15%;
    }

    .ContentImage3{
        left: 35%;
    }

    .ContentImage4{
        left: 50%;
    }

}

@media only screen and (max-width: 400px) {

    .ContentImage2{
        left: 10%;
    }

    .ContentImage3{
        left: 30%;
    }

    .ContentImage4{
        left: 45%;
    }

}