.Nav {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    background-color: rgb(31, 31, 31);
    padding: 0 40px;
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 998;
    top: 0;
    overflow: scroll;
}

.NavContent {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    height: 50px;
    width: 100%;
    align-items: center;
}

.NavContent img{
    height: inherit;
}

.NavItems ol{
    display: inline-block;
    height: 100%;
    list-style-type: none;
}

.NavItems li{
    display: inline;
    padding: 16px 14px;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
}

.NavItems li a{
    color: var(--inactiveColor);
    text-decoration: none;
}

.NavItems li a:hover{
    color: var(--hoverColor);
}

.Resume {
    padding: 12px 22px;
    color: var(--hoverColor);
    border-color: var(--hoverColor);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    margin-left: 18px;
}

.Resume:hover{
    background-color: rgba(20, 255, 236, 0.1);
} 

.container {
    display: none;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--hoverColor);
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


@media only screen and (max-width: 800px) {
    .NavItems{
        position: fixed;
        right: -200px;
        top: 70px;
        height: 440px;
        width: 200px;
        background-color: rgb(34, 49, 48);
        overflow: scroll;
        z-index: 999;
        transition-duration: 0.5s;
    }

    .show{
        right: 0;
    }

    .NavItems ol{
        display: block;
        height: 320px;
    }
    
    .NavItems li{
        display: block;
        color: white;
        width: 80%;
    }

    .NavItems li a{
        color: rgb(229, 229, 229);
    }

    .Resume{
        margin: 45px;
    }

    .container {
        display: inline-block;
    }
}

