.Sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70px;
    height: 40%;
    bottom: 0;
    z-index: 999;
}

.brands{
    font-size: 28px;
    color: var(--inactiveColor);
    margin-bottom: 16px;
}

.brands:hover{
    color: var(--hoverColor); 
}

.vl {
    border-left: 1px solid var(--inactiveColor);
    height: 500px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .Sidebar{
        display: none;
    }
}